/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* <weight>: Use a value from 100 to 900*/
  /* <uniquifier>: Use a unique and descriptive class name*/
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-accent2);
  overflow-x: hidden;
}

/* ---- */
/* Ogolne komponenty uzywane wielokr */

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.hero-title,
.hero-subtitle,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--color-accent3);
  letter-spacing: -0.5px;
}

.hero-title {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-subtitle {
  color: var(--color-accent1);
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 9.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-accent2);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* dla btn: */
  border: solid;
  border-color: var(--color-accent3);
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-accent3);
  color: var(--color-base-dark);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-base-dark);
  color: var(--color-accent3);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-base-dark);
  color: var(--color-accent3);
  border-style: solid;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-accent3);
  color: var(--color-base-dark);
  border-style: solid;
}

.btn--form {
  background-color: var(--color-accent3);
  color: var(--color-base-dark);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: var(--color-base-dark);
  color: var(--color-accent2);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--color-accent3);
}

/* dod kalsy */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

/*
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
  */

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
