@import url("colors.css");
@import url("general.css");
@import url("style.css");
@import url("style-podlogi.css");
@import url("queries.css");

/*
  /* Podstawy 
  @import "base/reset.css";
  @import "base/variables.css";

  /*  Układ 
  @import "layout/grid.css";
  @import "layout/header.css";
  @import "layout/footer.css";

  /* Komponenty 
  @import "components/buttons.css";
  @import "components/forms.css";

  /* Narzędzia 
  @import "utils/animations.css";
*/
