/* ------ */
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-base-dark);
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 12rem;
  padding: 1.2rem;
}

.smaller-logo {
  height: 5.4rem;
}

.dark-logo {
  filter: invert(100%);
}

/* ---- */
/* Nawig */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-accent3);
  border-color: var(--color-accent3);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-base-light);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2.4rem;
  border-radius: 9px;
  color: var(--color-base-dark);
  background-color: var(--color-accent3);
  border-style: solid;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-base-dark);
  color: var(--color-accent3);
}

/* Mobilna naw */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-accent1);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Przyklejona naw */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ------------ */
/* Sekcja hero */

.section-hero {
  background-color: var(--color-base-dark);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.2rem;
  align-items: center;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  box-shadow: var(--color-base-dark);
}

/* ---------------- */
/* sekcja featured */

.section-nasi-producenci {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-nasi-producenci {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--color-accent2);
}

.logos {
  display: flex;
  justify-content: space-around;
  overflow: auto;
}

.logos img {
  height: 3.2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.scrollable::-webkit-scrollbar {
  display: none; /* ukrycie paska przewijania */
}

/**************************/
/* sekcja asortyment */

.section-asortyment {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-accent1);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/* ------------------ */
/* sekcja asortyment */

.section-asortyment {
  padding: 9.6rem 0;
}

.asortyment {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.asortyment-button {
  position: relative;
  display: inline-grid;
  place-items: center;
  font-family: inherit;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-base-light);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  padding: 0;
}

.asortyment-button img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* przyciemnienie */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.asortyment-button p {
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.asortyment-button:hover img {
  transform: scale(1.05);
  filter: brightness(0.7);
}

.asortyment:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.asortyment-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.asortyment-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-base-dark);
  border-radius: 100px;
  font-weight: 600;
}

.asortyment-title {
  font-size: 3.2rem;
  color: var(--color-base-light);
  font-weight: 600;
}

.asortyment-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.asortyment-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.asortyment-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ------------------------ */
/* sekcja o-nas */

.section-o-nas {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-text-photo {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-photo-text {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-text-photo-1st-cell {
  padding: 9.6rem;
  grid-column: 1 / span 2;
}

.grid-text-photo-2nd-cell {
  padding: 3.2rem;
  grid-column: 3;
  justify-items: center;
}

.grid-photo-text-1st-cell {
  padding: 9.6rem;
  grid-row: 1;
  grid-column: 2 / span 2;
}

.grid-photo-text-2nd-cell {
  justify-items: center;
  padding: 3.2rem;
  grid-column: 1 / span 1;
}

.review-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.colorcell {
  margin: 9.6rem;
  background-color: var(--color-accent3);
}

.colorcell:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.o-nas-colorcell-bigtext {
  font-size: 12rem;
  line-height: 1.8;
  margin: 3.2rem;
  text-align: center;
}

.o-nas-colorcell-smalltext {
  font-size: 2rem;
  line-height: 1.8;
  margin: 3.2rem 0.9rem;
  text-align: center;
}

.text-o-nas {
  color: var(--color-accent2);
  font-size: 2.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.photo-o-nas {
  overflow: hidden;
}

.photo-o-nas img {
  display: block;
  width: 100%;
  max-height: 700px;
  transition: all 0.4s;
}

.photo-o-nas img:hover {
  transform: scale(1.1);
}

/*FULL SCRREN PHOTO*/
.thumbnail {
  width: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover {
  opacity: 0.8;
}

/* Styl powiększonego obrazu */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}

/* Przycisk zamknięcia */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: var(--color-base-light);
  cursor: pointer;
  user-select: none;
}

/* ----------------------- */
/* sekcja Co nas wyroznia */

.section-co-nas-wyroznia {
  padding: 9.6rem 0;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--color-base-dark);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
}

/* ----------------------- */
/* sekcja co nas wyroznia */

.cnw-feature-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title-1stline {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/*section godziny-otwarcia*/

.section-godziny-otwarcia {
  padding: 4.8rem 0 4.8rem;
}

.round-box {
  margin-top: 2.4rem;
  border-radius: 11px;
  border: solid;
  border-color: var(--color-accent3);
}

.godziny-otwarcia-text {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.clock-icon {
  width: 5.6rem;
  height: 5.6rem;
  color: var(--color-accent3); /* zmienia kolor ikony */
}

.godziny-otwarcia-heading-box {
  padding: 4.8rem 6.4rem 4.8rem 6.4rem;
  color: var(--color-accent1);
}

.godziny-otwarcia-dayvariant-heading {
  font-size: 2.4rem;
  color: var(--color-accent3);
  margin-bottom: 2.4rem;
}

.godziny-otwacia-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 1.2rem;
  padding: 0 1.2rem;
}
/* ------------------------- */
/* sekcja kontakt (CTA) */

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    var(--color-accent3),
    rgba(50, 50, 50)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--color-accent1);
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(113, 129, 146, 0.35),
      rgba(22, 49, 101, 0.35)
    ),
    url("../img/inviting-worker-hand.webp");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--color-base-dark);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: var(--color-accent2);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* sekcja mapa */

.section-map {
  padding: 4.8rem 0 9.6rem 0;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: 400px;
}

.map-wrap iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* sekcja stopka foot */

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid var(--color-accent1);
}

.grid--footer {
  grid-template-columns: repeat(4, 1fr);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

.social-media-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.8rem;
}

.social-media-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-accent2);
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-accent2);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--color-accent2);
}

/*   hero-gallery style  */

.hero-image-box {
  position: relative;
  width: 100% /*600px*/;
  height: 500px;
  overflow: visible;
  border-radius: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero-image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.hero-image-box img.activated {
  opacity: 1;
  z-index: 1;
}

.underfooter-copyright {
  font-size: 1.2rem;
  border-top: 1px solid var(--color-accent1);
}
