/* sekcja asortyment */

.footer {
  background-color: #fff;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;

  /* jako czesc szer rodzica */
  padding-bottom: 60%;
  background-color: #191919;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

.rodzaje-podlog {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.rodzaje-podlog-button {
  position: relative;
  display: inline-grid;
  place-items: center;
  font-family: inherit;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  padding: 0;
}

.rodzaje-podlog-button img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8); /* przyciemnienie */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.paragraph-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.paragraph-heading:not(:first-of-type) {
  margin-top: 9.6rem;
}

.wizytowka-button {
  position: relative;
  display: inline-grid;
  place-items: center;
  font-family: inherit;
  /*aspect-ratio: 16 / 9;*/
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(137, 120, 78);
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  padding: 1.8rem;
}

.wizytowka-button-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2.4rem;
}

.img-profile-photo {
  width: 90%;
  height: auto;
  min-width: 125px;
  padding: 1.2rem;
  overflow: hidden;
  justify-self: center;
  object-fit: cover;
  overflow: scroll;
  filter: brightness(0.8); /* przyciemnienie */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.rodzaje-podlog-button p {
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.rodzaje-podlog-button:hover img {
  transform: scale(1.05);
  filter: brightness(0.7);
}

.wizytowka-button:hover {
  transform: scale(1.05);
  background-color: rgba(137, 120, 78);
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: background-color 0.5s ease;
}

/*
.wizytowka-button:hover .wizytowka-text {
  color: #ccc;
}

.wizytowka-button:hover .img-profile-photo {
  filter: invert(0.8);
}
  */

.rodzaje-podlog:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.rodzaje-podlog-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.rodzaje-podlog-title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

.wizytowka-text {
  font-size: 2.2rem;
  color: #191919;
  padding: 1.8rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
}

.wizytowka-text p:not(:first-child) {
  font-size: 1.8rem;
}

.rodzaje-podlog-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rodzaje-podlog-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.rodzaje-podlog-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.photo-rodzaje-podlog {
  overflow: hidden;
  align-items: center;
  max-width: 525px;
}

.photo-rodzaje-podlog img {
  display: block;
  width: 100%;
  max-height: 700px;
  transition: all 0.4s;
}

.photo-rodzaje-podlog img:hover {
  transform: scale(1.1);
}

.section-rodzaje-podlog {
  padding: 9.6rem 0;
}

.section-white {
  background-color: #fff;
}

.section-black {
  background-color: #191919;
}

.section-transparent {
  background-color: rgba(10, 10, 10, 0.7);
}

.rodzaje-podlog-background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* tło na wysokość widoku */
  background: url("../img/podlogi/podloga-drewniana-po-montazu.webp")
    center/cover no-repeat;
  z-index: -1; /* niższy niż treść */
}

.rodzaje-drzwi-background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* tło na wysokość widoku */
  background: url("../img/hero-gallery/3-RuckZuck1.webp") center/cover no-repeat;
  z-index: -1; /* niższy niż treść */
}

.rodzaje-wykladzin-background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* tło na wysokość widoku */
  background: url("../img/hero-gallery/7-RuckZuck5.webp") center/cover no-repeat;
  z-index: -1; /* niższy niż treść */
}

.rodzaje-akcesoriow-background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* tło na wysokość widoku */
  background: url("../img/hero-gallery/6-RuckZuck2.webp") center/cover no-repeat;
  z-index: -1; /* niższy niż treść */
}

/*sekcja proces zakupowy*/
.section-proces-zakupowy {
  padding: 9.6rem 3.2rem;
  background-color: #fff;
}

.grid--2-cols--33-66 {
  grid-template-columns: 1fr 3fr;
}

.proces-zakupowy-number-col {
  font-size: 18rem;
}

.proces-zakupowy-description-col {
  font-size: 3.6rem;
}

.list-pointbox {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-color: rgba(137, 120, 78);
  overflow: hidden;
}

.background-black {
  background-color: #191919;
  color: rgba(137, 120, 78);
}

.background-gold {
  background-color: rgba(137, 120, 78);
}

.background-white {
  background-color: #fff;
}

.list-pointbox-number {
  padding: 0 4.8rem 1.8rem 4.8rem;
  color: #ddd;
}

.number-text {
  font-size: 12rem;
  line-height: 1.2;
}

.list-pointbox-text {
  padding: 3.2rem;
  color: #ddd;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.text-color-gold {
  color: rgba(137, 120, 78);
}

.non-marker {
  list-style: none;
}

.list-pointoflist {
  margin-bottom: 2.8rem;
}

.list-pointbox-text a {
  color: #fff;
}
/*
.container-init-hidden {
  display: none;
}
  */

.closer-to-left {
  transform: translateX(2%);
  transition: all 0.3s ease-in;
  /*display: flex;*/
}

.closer-to-right {
  transform: translateX(-2%);
  transition: all 0.3s ease-in;
  /*display: flex;*/
}

/*kontakt*/
.gold-border-button {
  border: 2px;
  border-style: solid;
  border-color: rgba(137, 120, 78);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
